################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Project1
/Project1/x64/Debug
/Project1/Project1.vcxproj.user
/Project1/Project1.vcxproj.filters
/Project1/Project1.vcxproj
/x64/Debug
*.sln
