################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Project1
/Project1/x64/Debug
/Project1/Project1.vcxproj.user
/Project1/Project1.vcxproj.filters
/Project1/Project1.vcxproj
/x64/Debug
*.sln
/Project1/constants.h
*.cppm
/Project1/io.cpp
/Project1/hi_lo.cpp
/Project1/global.cpp
/Project1/function_ptr.cpp
/Project1/Creature.cpp
/Project1/C++20.cpp
/Project1/C++17.cpp
/Project1/blackjack.cpp
/Project1/binary.cpp
/Project1/С++14.cpp
/Project1/vector3D.cpp
/Project1/tower.cpp
/Project1/testTasks.cpp
/Project1/student.cpp
/Project1/sort.cpp
/Project1/random_task.cpp
/Project1/Prefix.cpp
/Project1/point3D.cpp
/Project1/PlayerController.cpp
/Project1/Player.cpp
/Project1/Monster2.cpp
/Project1/monster.cpp
/Project1/Circle.h
/Project1/blackjack.h
/Project1/binary.h
/Project1/vector3D.h
/Project1/Triangle.h
/Project1/tower.h
/Project1/student.h
/Project1/sort.h
/Project1/Shape.h
/Project1/point3D.h
/Project1/Point.h
/Project1/PlayerController.h
/Project1/Player.h
/Project1/Monster2.h
/Project1/monster.h
/Project1/io.h
/Project1/hi_lo.h
/Project1/global.h
/Project1/function_ptr.h
/Project1/Creature.h
